/* About page css */

.main-body{
    padding: 80px 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-body h1{
    font-size: 50px;
}
.main-body p{
    font-size: 150%;
    text-align: center;
}
/* footer css for about page */

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* Resoponsive css */
@media only screen and (max-width: 780px) {
    .main-body h1{
        font-size: 230%;
    }
    .main-body p{
        font-size: 128%;
    }
}
@media only screen and (max-width: 500px) {
    .main-body h1{
        font-size: 200%;
    }
    .main-body p{
        font-size: 100%;
    }
}
@media only screen and (max-width: 400px) {
    footer{
        position: static;
        margin-top: 15px;
    }
}
@media only screen and (max-width: 330px) {
    .main-body h1{
        font-size: 190%;
    }
    .main-body p{
        font-size: 90%;
    }
}