@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Bebas+Neue&family=Hurricane&family=Red+Hat+Mono&display=swap');

/* font-family: 'Bebas Neue', cursive;
font-family: 'BIZ UDMincho', serif;
font-family: 'Hurricane', cursive;
font-family: 'Red Hat Mono', monospace; */
:root{
    --red1: #ff4d4d;
    --red2: #ea5353;
    --blue1: #0066ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    /* background-color: #ffffe6; */
    background-color: #e7dba3;
    /* background-image: linear-gradient(to bottom right, rgb(212, 161, 212) , rgb(77, 0, 128)); */
}

/*********************************** Header css ******************************/
header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--red2);
    /* background-color: #212121; */
}

.navbar {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.logo {
    color: white;
    margin: 10px 30px;
    font-size: 40px;
    font-family: 'Hurricane', cursive;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 15px;
    /* background-color: pink; */

}

.list li a,
.dropbtn {
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 2px;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;

}

.list li a:hover,
.dropbtn:hover {
    color: #000;
    background-color: #fff;
}

#activePage a {
    color: #000;
    background-color: #fff;

}

/*********************** DropDown */
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    /* padding: 14px 16px; */
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--red2);
    min-width: 115px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropbtn:hover {
    background: #fff;
    color: #000;
}

#catDrpAngle {
    font-size: 15px;
}

.show {
    display: block;
}

/*********************************** Progress bar css */
.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
}

.progress-bar {
    height: 4px;
    background: var(--blue1);
    width: 0%;
}

.hamburger {
    display: none;
}

/*------------------------------------------ Footer Css -------------------------------------*/
footer {
    background-color: var(--red2);
}

.footerPart1 {
    /* background-color: #212121; */
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}

.darkModeDiv {
    display: flex;
}

/* Dar Mode Switch css */
.switch {
    position: relative;
    display: inline-block;
    margin: 10px 5px;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderRound {
    position: absolute;
    background-color: #ccc;
    cursor: pointer;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderRound:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.sliderRound {
    background-color: #2196f3;
}

input:focus+.sliderRound {
    box-shadow: 0px 0px 1px #2196f3;
}

input:checked+.sliderRound:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/****************************** Dark Mode*/
.dark-mode {
    background-color: #000;
    background-image: none;
    color: #fff;
}

/************************************* Dark Mode bg for progress bar*/
.dark-mode-pb {
    background: rgb(255, 0, 0);
}

#darkModeText {
    color: white;
    margin: 10px 0px;
    display: inline-block;
}

/* Dark Mode css END */
.fpart1a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/************************** Live clock css start */
#liveclock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    /* background-color: #212121; */
    color: white;
    margin-left: 10px;
}

/************************** Live clock css end */

.iconsToFollow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#followText {
    color: white;
    margin-right: 4px;
}

.icons {
    color: white;
    margin-right: 6px;
    cursor: pointer;
}

.icons .fab {
    padding-right: 6px;
}

/* Break the line */

.breakLine {
    background-color: #fff;
}

/* Copyright */
.copyRight {
    background-color: inherit;
    /* background-color: #212121; */
    display: flex;
    justify-content: center;
}

.copyRight p {
    color: white;
}

/*------------------------------ Responsive Css ------------------------------------ */

@media only screen and (max-width:705px) {
    .logo {
        font-size: 33px;
    }

    .list {
        display: none;
    }

    .hamburger {
        display: block;
        filter: invert();
        width: 33px;
        top: 10px;
        right: 30px;
        position: absolute;
    }

    #img1 {
        display: block;
    }

    #img2 {
        display: none;
    }

    .navbar {
        display: block;
    }

    .list {
        width: 100%;
        flex-direction: column;
    }

    .list li {
        padding: 12px 0px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width:500px) {
    footer {
        font-size: 84%;
    }
}

@media only screen and (max-width:470px) {
    .logo {
        font-size: 28px;
    }

    .hamburger {
        width: 28px;
    }
}

@media only screen and (max-width:380px) {
    footer {
        font-size: 100%;
    }

    .footerPart1 {
        margin-top: 30px;
        padding-bottom: 12px;
        flex-direction: column;
    }

    .fpart1a {
        padding-bottom: 5px;
        justify-content: space-around;
    }
}